.btnCheck{
	
	-fx-background-color:#416d19;
	
	/*-fx-border-color:#bfb439;*/
	/*-fx-border-radius:20 20 20 20;*/
	-fx-border-width:5px;
	-fx-text-fill:white;
	
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;

    -fx-font-size: 16px;

    -fx-font-family: "Arial";
    -fx-font-weight: bold;

}
.btnCheck:hover{
	-fx-background-color:darkblue;
	-fx-text-fill:gold;

}
.btnSelected{
	-fx-background-color:darkblue;
	-fx-text-fill:gold;
}

.lbltop{
	-fx-background-color: #bfea7c;
	-fx-background-radius:19 19 19 19;
	-fx-font-size: 24px;

    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
}
.link{
	-fx-text-fill:black;
	-fx-font-size: 14px;

    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

.Plbl{
	-fx-text-alignment:left;
	-fx-text-fill:black;
	-fx-font-size: 14px;
	-fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-pref-width: 70px; 
    -fx-pref-height: 25px; 
}
.Ptxf{
	-fx-pref-width: 250px; 
    -fx-pref-height: 25px; 
}

.btncancel{
	-fx-background-color:black;
	 -fx-font-family: "Century Gothic";
    
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.btnsearch{
	-fx-background-color:silver;
	 -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.btncancel:hover{
	  
	-fx-border-color: red;
	 -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
   
}

.btnsearch:hover{
	  
	-fx-border-color: black;
	 -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
   
}

/* .btnsubmit{
	-fx-background-color:silver;
	 -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.btnsubmit :hover{
	-fx-border-color: black;
	 -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
}
*/
.label{
	 -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
}

.btnsubmit {
    -fx-display: inline-block;
    -fx-padding: 0px 12px;
    -fx-border-radius: 4px;
    -fx-text-fill: rgb(61, 79, 88);
    -fx-background-color: rgb(249, 251, 250);
    -fx-border-color: rgb(137, 151, 155);
    -fx-border-width: 1px;
    -fx-box-shadow: rgba(6, 22, 33, 0.3) 0px 1px 2px;
    -fx-font-size: 14px;
    -fx-font-weight: 400;
    -fx-height: 36px;
    -fx-cursor: hand;
    -fx-transition-property: text-fill, background-color, border-color, box-shadow;
    -fx-transition-duration: 150ms;
}

.btnsubmit:hover {
    -fx-text-fill: rgb(61, 79, 88);
    -fx-background-color: rgb(255, 111, 255);
    -fx-border-color: rgb(93, 108, 116);
    -fx-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 4px, rgb(231, 238, 236) 0px 0px 0px 3px;
}

